
<div id="friend-lookup">
	<h3>Search</h3>
	<%= form_tag search_friends_path, remote:true, method: :get, id: 'friend-lookup-form' do %>
		<div class="form-group row no-padding text-center col-md-12">
			<div class="col-md-10">
				<%= text_field_tag :search_param, params[:search_param], placeholder: "First name || Last name || E-mail", autofocus: true,
					class: "form-control search-box input-lg"
				%>
			</div>
			<div class="col-md-2">
				<%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
					<i class="fa fa-search"></i> Lookup
				<% end %>
			</div>
		</div>
	<% end %>
	<%= render 'common/spinner' %>
	<% if @users %>
    <% if @users.size > 0 %>
      <table class="well ressults-block col-md-10">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><strong>Name:</strong> <%= user.full_name %></td>
              <td><strong>E-mail:</strong> <%= user.email %></td>
              <td>
                <strong>Profile:</strong>
                 <%= link_to "View profile", user_path(user), class: "btn btn-xs btn-success" %>
                <% if current_user.not_friends_with?(user.id) %>
                  <%= link_to "Add friend", add_friend_path(user: current_user, friend: user), class: "btn btnxs- btn-success", method: :post %>
                <% else %>
                  You're already friends
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="lead col-md-12">
        Nothing found
      </p>
    <% end %>
	<% else %>
		<div id="friend-lookup-errors">

  	</div>
	<% end %>

</div>
